<div id="cadastro_curso_container" class="container">
  <h2>Cadastro de curso</h2>

  <p class="my-10">
    Para cadastrar um curso, preencha as informações abaixo. <br />
    Os campos com <span class="campo_obrigatorio">*</span> são obrigatórios.
  </p>

  <form id="cadastro_curso_formulario" class="formulario" [formGroup]="formulario">
    <div class="formulario_bloco">
      <label for="cadastro_curso_campo_nome">Nome<span class="campo_obrigatorio">*</span></label>
      <input
        pInputText
        id="cadastro_curso_campo_nome"
        class="campo_formulario"
        type="text"
        formControlName="nome"
        autocomplete="off"
      />

      <ng-container *ngFor="let validacao of validacoes">
        <small
          *ngIf="nome.touched && nome.errors?.[validacao.tipo]"
          id="cadastro_curso_validacao_{{ validacao.tipo }}"
          class="mensagem mensagem_erro"
          >{{ validacao.mensagem }}
        </small>
      </ng-container>
    </div>

    <div class="formulario_bloco">
      <label for="cadastro_curso_campo_descricao">Descrição</label>

      <textarea
        pTextarea
        id="cadastro_curso_campo_descricao"
        class="campo_formulario"
        rows="4"
        formControlName="descricao"
        autocomplete="off"
        [autoResize]="true"
      ></textarea>
    </div>

    <div class="formulario_rodape">
      <p-button
        #botaoSalvar
        id="cadastro_curso_botao_salvar"
        label="Salvar"
        type="submit"
        icon="pi pi-check"
        size="small"
        aria-label="Salvar curso"
        [loading]="loading"
      />
      <p-button
        #botaoLimpar
        id="cadastro_curso_botao_limpar"
        label="Limpar"
        icon="pi pi-times"
        severity="secondary"
        size="small"
        aria-label="Limpar dados"
      />
    </div>
  </form>
</div>

<p-dialog id="cadastro_curso_modal_erro" [modal]="true" [(visible)]="mostrarDialog" [style]="{ width: '20rem' }">
  <ng-template #header>
    <h5 class="mt-0 text-zinc-800">Erro ao cadastrar curso</h5>
  </ng-template>
  <p class="mb-2 text-sm">{{ mensagemErro }}.</p>
</p-dialog>
