@if (estaCarregandoPagina) {
  <pa-loader
    id="lista_alocacao_loader"
    titulo="Carregando página"
    conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto."
  />
} @else {
  <ng-template #botaoAdicionar>
    <p-button
      id="lista_alocacao_adicionar"
      label="Adicionar Alocação"
      icon="pi pi-plus"
      (click)="adicionarAlocacao()"
    />
  </ng-template>

  <div class="pa_pagina_main">
    <div class="pa_container">
      <pa-breadcrumb id="lista_alocacao_breadcrumb" [items]="items" />

      <div class="pa_pagina_titulo_container">
        <h3 class="pa_pagina_titulo">Alocações</h3>
        @if (!mostrarEstadoInicialVazio) {
          <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
        }
      </div>

      <div class="pa_pagina_conteudo">
        @if (listaAlocacao.length === 0 && mostrarEstadoInicialVazio) {
          <pa-nenhum-resultado
            id="lista_alocacao_nenhum_resultado"
            titulo="Você ainda não possui alocações cadastradas."
            subtitulo="Clique abaixo para cadastrar uma nova alocação."
          >
            <div class="mt-4">
              <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
            </div>
          </pa-nenhum-resultado>
        } @else {
          <div class="card">
            <form [formGroup]="filtros" class="filtro">
              <fieldset class="grid gap-5 md:grid-cols-3">
                <pa-select
                  id="lista_alocacao_filtro_dia"
                  label=""
                  [items]="dias"
                  opcaoLabel="nome"
                  opcaoValor="id"
                  filtrarPor="nome"
                  placeholder="Filtrar por dia"
                  formControlName="diaSemana"
                />

                <pa-select
                  id="lista_alocacao_filtro_curso"
                  label=""
                  [items]="cursos"
                  opcaoLabel="nome"
                  opcaoValor="id"
                  filtrarPor="nome"
                  placeholder="Filtrar por curso"
                  formControlName="idCurso"
                />

                <pa-select
                  id="lista_alocacao_filtro_professor"
                  label=""
                  [items]="professores"
                  opcaoLabel="nome"
                  opcaoValor="id"
                  filtrarPor="nome"
                  placeholder="Filtrar por professor"
                  formControlName="idProfessor"
                />
              </fieldset>

              <div class="filtro_rodape">
                <p-button
                  paDebounceClick
                  size="small"
                  id="lista_alocacao_pesquisar"
                  label="Pesquisar"
                  (evtClick)="pesquisar()"
                />

                <p-button
                  paDebounceClick
                  size="small"
                  id="lista_alocacao_limpar_filtros"
                  label="Limpar"
                  severity="secondary"
                  (evtClick)="limpar()"
                />
              </div>
            </form>
          </div>

          <pa-tabela
            id="lista_alocacao_tabela"
            [items]="listaAlocacao"
            [colunas]="colunas"
            [linhasExpansiveis]="true"
            [(indiceRegistro)]="indice"
            [registrosPorPagina]="registros"
            (aoClicarEmEditar)="editarAlocacao($event)"
            (aoClicarEmExcluir)="confirmarExclusao($event)"
          />
        }
      </div>
    </div>
  </div>

  <pa-dialog
    id="lista_alocacao_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>

  <pa-confirm-dialog id="lista_alocacao_dialog_confirmar" />
}
