@if (estaCarregandoPagina) {
  <pa-loader
    id="lista_curso_loader"
    titulo="Carregando página"
    conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto."
  />
} @else {
  <ng-template #botaoAdicionar>
    <p-button id="lista_curso_adicionar" label="Adicionar Curso" icon="pi pi-plus" (click)="adicionarCurso()" />
  </ng-template>

  <div class="pa_pagina_main">
    <div class="pa_container">
      <pa-breadcrumb id="lista_curso_breadcrumb" [items]="items" />

      <div class="pa_pagina_titulo_container">
        <h3 class="pa_pagina_titulo">Cursos</h3>
        <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
      </div>

      <div class="pa_pagina_conteudo">
        @if (cursos.length === 0 && mostrarEstadoInicialVazio) {
          <pa-nenhum-resultado
            id="lista_curso_nenhum_resultado"
            titulo="Você ainda não possui cursos cadastrados."
            subtitulo="Clique abaixo para cadastrar um novo curso."
          >
            <div class="mt-4">
              <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
            </div>
          </pa-nenhum-resultado>
        } @else {
          <div class="card">
            <form [formGroup]="filtros" class="filtro">
              <fieldset>
                <pa-input-text
                  id="lista_curso_pesquisa_nome"
                  label=""
                  placeholder="Pesquisar por nome"
                  formControlName="nome"
                />
              </fieldset>

              <div class="filtro_rodape">
                <p-button size="small" id="lista_curso_pesquisar" label="Pesquisar" (click)="pesquisar()" />
                <p-button
                  size="small"
                  id="lista_curso_limpar_filtros"
                  label="Limpar"
                  severity="secondary"
                  (click)="limpar()"
                />
              </div>
            </form>
          </div>

          <pa-tabela
            id="lista_curso_tabela"
            [items]="cursos"
            [colunas]="colunas"
            [(indiceRegistro)]="indice"
            [registrosPorPagina]="registros"
            (aoClicarEmEditar)="editarCurso($event)"
            (aoClicarEmExcluir)="confirmarExclusao($event)"
          />
        }
      </div>
    </div>
  </div>

  <pa-dialog
    id="lista_curso_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>

  <pa-confirm-dialog id="lista_curso_dialog_confirmar" />
}
