<ng-template #carregando>
  <pa-loader titulo="Carregando página" conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto." />
</ng-template>

<ng-container *ngIf="!loading; else carregando">
  <div id="lista_curso_container" class="container">
    <h3>Cursos</h3>

    <div class="card mt-8">
      <p-fluid>
        <div class="grid gap-4 sm:grid-cols-2">
          <div>
            <pa-input-search
              id="lista_curso_campo_pesquisa"
              placeholder="Pesquisar por nome"
              (aoPesquisar)="pesquisarPorNome($event)"
            />
          </div>

          <p-button
            class="justify-self-end"
            label="Adicionar Curso"
            icon="pi pi-plus"
            [fluid]="false"
            size="small"
            (click)="adicionarCurso()"
          />
        </div>
      </p-fluid>
    </div>

    <div class="card my-2">
      <p-table
        class="text-sm"
        [value]="cursos"
        [scrollable]="true"
        [paginator]="true"
        [rows]="registrosPorPagina"
        [first]="indicePrimeiroRegistro"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} a {last} de {totalRecords} resultado(s)"
        [tableStyle]="{ 'min-width': '560px' }"
        (onPage)="aoMudarDePagina($event)"
      >
        <ng-template #header>
          <tr>
            <th pSortableColumn="id" style="width: 6.5rem">Código<p-sortIcon field="id" /></th>
            <th pSortableColumn="nome">Nome<p-sortIcon field="nome" /></th>
            <th style="width: 6.5rem">Ações</th>
          </tr>
        </ng-template>
        <ng-template #body let-curso>
          <tr>
            <td>{{ curso.id }}</td>
            <td>{{ curso.nome }}</td>
            <td class="flex justify-between">
              <p-button
                icon="pi pi-pencil"
                size="small"
                [rounded]="true"
                [outlined]="true"
                severity="primary"
                (click)="atualizarCurso(curso)"
              ></p-button>

              <p-button
                icon="pi pi-trash"
                size="small"
                [rounded]="true"
                [outlined]="true"
                severity="primary"
                (click)="confirmarExclusao(curso)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <pa-dialog
    id="lista_curso_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>

  <pa-confirm-dialog id="lista_curso_dialog_confirmar" />
</ng-container>
