@reference "tailwindcss";

.card {
  @apply px-3 py-3;
  @variant md {
    @apply px-6;
  }
}

.tabela th {
  min-width: 7rem;
}

.coluna_botao_expansivel {
  width: 1rem;
}

.coluna_acoes {
  width: 7rem;
}
