@if (estaCarregandoPagina) {
  <pa-loader
    id="lista_professor_loader"
    titulo="Carregando página"
    conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto."
  />
} @else {
  <ng-template #botaoAdicionar>
    <p-button
      id="lista_professor_adicionar"
      label="Adicionar Professor"
      icon="pi pi-plus"
      size="small"
      (click)="adicionarProfessor()"
    />
  </ng-template>

  <div class="pa_pagina_main">
    <div class="pa_container">
      <pa-breadcrumb id="lista_professor_breadcrumb" [items]="items" />

      <div class="pa_pagina_titulo_container">
        <h3 class="pa_pagina_titulo">Professores</h3>
        <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
      </div>

      <div class="pa_pagina_conteudo">
        @if (professores.length === 0 && mostrarEstadoInicialVazio) {
          <pa-nenhum-resultado
            id="lista_professor_nenhum_resultado"
            titulo="Você ainda não possui professores cadastrados."
            subtitulo="Clique abaixo para cadastrar um novo professor."
          >
            <div class="mt-4">
              <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
            </div>
          </pa-nenhum-resultado>
        } @else {
          <pa-filtro-tabela-container>
            <div>
              <pa-input-search
                id="lista_professor_pesquisa"
                placeholder="Pesquisar por nome"
                (aoPesquisar)="pesquisarPorNome($event)"
              />
            </div>

            <div>
              <pa-select
                id="lista_professor_filtro_departamento"
                label=""
                [items]="departamentos"
                opcaoLabel="nome"
                opcaoValor="id"
                filtrarPor="nome"
                placeholder="Filtrar por departamento"
                formControlName="hum"
                (evtSelecionar)="aoSelecionarDepartamento($event)"
              />
            </div>
          </pa-filtro-tabela-container>

          <pa-tabela
            id="lista_professor_tabela"
            [items]="professores"
            [colunas]="colunas"
            [(indiceRegistro)]="indice"
            [registrosPorPagina]="registros"
          />
        }
      </div>
    </div>
  </div>

  <pa-dialog
    id="lista_professor_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>

  <pa-confirm-dialog id="lista_professor_dialog_confirmar" />
}
