@if (estaCarregandoPagina) {
  <pa-loader
    id="lista_professor_loader"
    titulo="Carregando página"
    conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto."
  />
} @else {
  <ng-template #botaoAdicionar>
    <p-button
      id="lista_professor_adicionar"
      label="Adicionar Professor"
      icon="pi pi-plus"
      (click)="adicionarProfessor()"
    />
  </ng-template>

  <div class="pa_pagina_main">
    <div class="pa_container">
      <pa-breadcrumb id="lista_professor_breadcrumb" [items]="items" />

      <div class="pa_pagina_titulo_container">
        <h3 class="pa_pagina_titulo">Professores</h3>
        <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
      </div>

      <div class="pa_pagina_conteudo">
        @if (professores.length === 0 && mostrarEstadoInicialVazio) {
          <pa-nenhum-resultado
            id="lista_professor_nenhum_resultado"
            titulo="Você ainda não possui professores cadastrados."
            subtitulo="Clique abaixo para cadastrar um novo professor."
          >
            <div class="mt-4">
              <ng-container *ngTemplateOutlet="botaoAdicionar"></ng-container>
            </div>
          </pa-nenhum-resultado>
        } @else {
          <div class="card">
            <form [formGroup]="formulario" class="flex flex-col gap-4">
              <fieldset class="grid items-center gap-2 sm:grid-cols-2 sm:gap-4">
                <pa-input-text
                  id="lista_professor_pesquisa_nome"
                  label=""
                  placeholder="Pesquisar por nome"
                  formControlName="nome"
                />

                <pa-select
                  id="lista_professor_filtro_departamento"
                  label=""
                  [items]="departamentos"
                  opcaoLabel="nome"
                  opcaoValor="id"
                  filtrarPor="nome"
                  placeholder="Filtrar por departamento"
                  formControlName="departmentoId"
                />
              </fieldset>

              <div class="flex gap-2 self-end">
                <p-button size="small" id="lista_professor_pesquisar" label="Pesquisar" (click)="pesquisar()" />
                <p-button
                  size="small"
                  id="lista_professor_limpar_filtros"
                  label="Limpar"
                  severity="secondary"
                  (click)="limpar()"
                />
              </div>
            </form>
          </div>

          <pa-tabela
            id="lista_professor_tabela"
            [items]="professores"
            [colunas]="colunas"
            [(indiceRegistro)]="indice"
            [registrosPorPagina]="registros"
            (aoClicarEmEditar)="editarProfessor($event)"
            (aoClicarEmExcluir)="confirmarExclusao($event)"
          />
        }
      </div>
    </div>
  </div>

  <pa-dialog
    id="lista_professor_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>

  <pa-confirm-dialog id="lista_professor_dialog_confirmar" />
}
