<ng-template #carregando>
  <pa-loader titulo="Carregando página" conteudo="Por favor, aguarde. Essa operação pode durar até 1 minuto." />
</ng-template>
<ng-container *ngIf="curso$ | async as curso; else carregando">
  <div id="edicao_curso_container" class="container">
    <h3>Editar Curso</h3>

    <div class="card mt-8">
      <p class="mb-8">
        Atualize os dados do curso preenchendo as informações abaixo. <br />
        Os campos com <span class="campo_obrigatorio">*</span> são obrigatórios.
      </p>

      <pa-formulario-curso
        id="edicao_curso"
        [loading]="operacaoPendente"
        [curso]="curso"
        (evtSalvar)="observarEvtSalvar($event)"
        (evtLimpar)="observarEvtLimpar()"
      />
    </div>
  </div>

  <pa-dialog
    id="edicao_curso_dialog_erro"
    [mostrarDialog]="mostrarDialog"
    [tituloErro]="tituloErro"
    [mensagemErro]="mensagemErro"
  ></pa-dialog>
</ng-container>
