@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme inline {
  --font-inter: 'Inter', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans: var(--font-inter);

  --pa-height-100vh: 28;
}

@utility pa-w-h-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (var(--spacing) * 15));
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-2 font-bold text-slate-900;
  }

  h1 {
    @apply text-3xl;

    @variant md {
      @apply text-4xl;
    }
  }

  h2 {
    @apply text-2xl;

    @variant md {
      @apply text-3xl;
    }
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}

@layer components {
  /* Menu */
  .p-menubar {
    @apply border-0!;

    @variant max-lg {
      @apply gap-0!;
    }
  }

  /* Breadcrumb */
  .p-breadcrumb {
    @apply mb-4 bg-transparent! p-0!;
  }

  /* Card */
  .card {
    @apply rounded-lg border-1 border-slate-200 bg-white p-6;
  }

  /* Dialog | Toast */
  .p-toast,
  .p-dialog {
    max-width: 92.5% !important;
  }
}

html {
  @apply bg-slate-50 font-sans text-sm;

  @variant sm {
    font-size: 1rem;
  }
}

.pa_container {
  @apply mx-auto w-3xl px-4 max-md:w-auto md:px-0;
}

.pa_pagina_main {
  @apply pt-10 pb-8;
}

.pa_pagina_titulo_container {
  @apply flex flex-col justify-between gap-5;

  @variant sm {
    @apply flex-row gap-0;
  }
}

.pa_pagina_titulo {
  @apply m-0;
}

.pa_pagina_conteudo {
  @apply mt-4;

  @variant sm {
    @apply mt-8;
  }
}

/* Formulario */
.formulario {
  @apply flex flex-col gap-5;
}

.formulario_rodape {
  @apply mt-6 flex items-center justify-end gap-4;
}

.input_container {
  @apply flex flex-col gap-0.5;

  label {
    @apply block font-medium;
  }
}

.campo_obrigatorio {
  @apply text-red-400;
}

.ng-invalid.ng-touched .p-inputtext {
  @apply border-red-400!;

  &:focus {
    @apply border-red-400!;
  }

  &:focus-visible {
    @apply outline-0!;
  }
}
