@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme inline {
  --font-inter: 'Inter', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans: var(--font-inter);

  --pa-height-100vh: 28;
}

@utility pa-altura-100vh {
  height: calc(100vh - (var(--spacing) * 28));
}

@layer base {
  html {
    @apply bg-slate-50 font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-2 font-bold tracking-tight text-slate-900;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg tracking-normal;
  }

  h6 {
    @apply tracking-normal;
  }

  p,
  label {
    @apply text-sm;
  }

  .container {
    @apply container mx-auto max-w-3xl! px-5;

    @variant md {
      @apply px-2.5;
    }
  }
}

/* Menu */

.p-menubar {
  @apply border-0!;
}

/* Card */
.card {
  @apply rounded-lg border-1 border-slate-200 bg-white px-5 py-6;
}

/* Toast */
.p-toast {
  max-width: 95% !important;
}

/* Formulario */
.formulario {
  @apply flex flex-col gap-5;
}

.formulario_rodape {
  @apply mt-2 flex items-center justify-end gap-4;
}

.input_container {
  @apply flex flex-col gap-0.5;

  label {
    @apply block font-medium;
  }
}

.campo_obrigatorio {
  @apply text-red-400;
}

.ng-invalid.ng-touched .p-inputtext {
  @apply border-red-400!;

  &:focus {
    @apply border-red-400!;
  }

  &:focus-visible {
    @apply outline-0!;
  }
}

.not_found {
  @apply pa-altura-100vh flex items-center justify-center;
}
